body {
    margin: 0;
    background-color: rgb(59, 6, 6);
    color: rgb(60, 60, 60);
    font-family: fantasy;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    border: 3px solid red;
}

#_inputNeuerBegriff{
    height: 2rem;
    max-width: 8rem;
    margin: 1rem;
}

/* #_buttonLetzterBegriffWeg{
    height: 3rem;
    width: 7rem;
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    border-radius: 0.2rem;
}
#_buttonLetzterBegriffWeg:hover{
    background-color: blanchedalmond;
} */

/* #_UlAlleBegriffe{
    position: relative;
    border: 3px solid blue;
    height: 20rem;
    width: 80%;
    bottom: 0rem;
    overflow: scroll;
    word-break: break-all;
} */

#_UlAlleBegriffe{
    margin: 0;
    padding: 0;
    position: relative;
    border: 3px solid blue;
    height: 20rem;
    width: 80%;
    overflow: scroll;
    word-break: break-all;
}

#_UlAlleBegriffe li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
}
#_UlAlleBegriffe li:nth-child(odd){
    background: rgb(224, 224, 224);
}

#_buttonAuswahlLinks, #_buttonAuswahlRechts{
    height: 10rem;
    width: 15rem;
    margin: 4rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}
#buttonAuswahlLinks:hover, #buttonAuswahlRechts:hover{
    background-color: rgb(156, 99, 14);
}

#_buttonNeueAuswahl{
    height: 3rem;
    width: 5rem;
}